{% extends 'base.html' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="card" style="height: fit-content;">
        <form method="POST" action="" class="border-0 p-4 mt-4" enctype="multipart/form-data"> 
            {{ form_criar_post.csrf_token }}
            <legend>Criar Post</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_criar_post.titulo.label(class="form-control-label") }}
                    {% if form_criar_post.titulo.errors %}
                        {{ form_criar_post.titulo(class="form-control is-invalid") }}
                    <div class="invalid-feedback"> 
                        {% for erro in form_criar_post.titulo.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form_criar_post.titulo(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form_criar_post.descricao_post.label(class="form-control-label") }}
                    {% if form_criar_post.descricao_post.errors %}
                        {{ form_criar_post.descricao_post(class="form-control is-invalid") }}
                    <div class="invalid-feedback"> 
                        {% for erro in form_criar_post.descricao_post.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form_criar_post.descricao_post(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <br>
            {{ form_criar_post.botao_submit(class="button-33", role="button") }}
        </form>
    </div>
</div>
{% endblock %}