{% extends 'base.html' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="upper"> <img src="{{ url_for('static',filename='tela.png') }}" height="100"> </div>
        <div class="user text-center">
            <div class="profile"> <img src="{{ foto_perfil }}" class="rounded-circle" width="80"> </div>
        </div>
        <div class="mt-5 text-center">
            <h4 class="mb-1 mt-1">{{ current_user.usuario }}</h4> 
            <span class="text-muted d-block mb-2">{{ current_user.email }}</span>
                <a href="{{ url_for('editar_perfil')}}">
                    <button class="btn btn-primary btn-sm follow">Editar Perfil</button>
                </a>
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Followers</h6> <span>8,797</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Projects</h6> <span>142</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Ranks</h6> <span>129</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% block form_editarperfil %}
{% endblock %}
{% endblock %}