{% extends 'base.html' %}

{% block body %}

    <div class="container"> 
        {% for usuario in lista_usuarios %}

        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <div class="card p-3" style="height: fit-content;">
                <div class="d-flex align-items-center">
                    <div class="image"> <img src="{{ url_for('static',filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded" width="100"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0">{{ usuario.usuario }}</h4><span>{{ usuario.email }}</span>
                        <div class="p-2 mt-2 d-flex justify-content-between rounded stats">
                            {% if 'não informado' in usuario.afinidades or usuario.afinidades == '' %}
                                <div class="d-flex flex-column"><h6 class="mb-0">Linguagens</h6><span>0</span></div>
                            {% else %}
                                <div class="d-flex flex-column"><h6 class="mb-0">Linguagens</h6><span>{{ usuario.afinidades.count(';') + 1}}</span></div>
                            {% endif %}
                            <div class="d-flex flex-column"><h6 class="mb-0">Projects</h6> <span>0</span></div>
                            <div class="d-flex flex-column"><h6 class="mb-0">Posts</h6> <span> {{ usuario.contar_posts() }} </span></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <style>
                    .column {
                    float: left;
                    width: 25%;
                    padding: 10px 10px;
                    }
                    </style>
                    <div class="row">
                        {% if 'HTML' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'CSS' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'Python' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'Java' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'C#' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/C_Sharp_wordmark.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'PHP' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if '.NET' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/.NET_Logo.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'Angular' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'Ionic' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ionic-logo-landscape.svg" height="48" width="48"></div>
                        {% endif %}
                        {% if 'Flutter' in usuario.afinidades %}
                        <div class="column"><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Google-flutter-logo.svg" height="48" width="48"></div>
                        {% endif %}
                    {% if usuario.afinidades == 'não informado' or usuario.afinidades == '' %}
                        <p>Não existem linguagens cadastradas.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}